### Turtle Graphics

In [ ]:
# Design Spiral star
import turtle as t
a1 = t.Turtle()
a1.pencolor('blue')
for i in range (40):
    a1.forward( i*10 )
    a1.left(144)
t.done()

In [ ]:
# Design Spiral square
import turtle as t
a1 = t.Turtle()
a1.pencolor('blue')
for i in range (200):
    a1.forward(i)
    a1.left(91)
a1.done()

In [ ]:
# Design Hexagon
from turtle import *
pencolor('blue')
colors = ('blue','green','red','purple','yellow','orange')
for i in range(360):
          pencolor(color[i%6])
    width(i/100 + 1)
    forward(i)
    left(59)

In [ ]:
## Design Rectangle
## Generate Circle

In [ ]:
## Generate Circle
# Design Circle
from turtle import *
pensize(20)
pencolor('black')
fillcolor('green')
begin_fill()
circle(100)
end_fill()

In [ ]:
# Design Tangent Circle
from turtle import *
pensize(3)
pencolor('purple')
for i in range (15):
    circle(10*i)

In [ ]:
# Design Spiral Circle
from turtle import *
pensize(3)
pencolor('blue')
for i in range(100):
    circle(10+i,45)

In [ ]:
# Design Circle
from turtle import *
pensize(3)
colors = ('blue','green','red','yellow','orange','black')
for i in range(30):
    pencolor(colors[i%6])
    circle(10*i)
    up()
    sety((10*i)*(-1))
    down()

In [ ]:
# Design Olympic logo
from turtle import *
pensize(6) # set the pensize to 6 pixels
r1 = ["blue","black","red"]
for i in range(3):
    penup()
    pencolor(r1[i%3])
    goto(i*100,0)
    pendown()
    circle(45)
r2 = ["","yellow","","green"]
for i in range(1,4,2):
    penup()
    pencolor(r2[i])
    goto(i*55,-55)
    pendown()
    circle(50)

In [ ]:
# Design Audi logo
from turtle import *
pencolor('black')
pensize(6)
for i in range(4):
    penup()
    goto(i*70,0)
    pendown()
    circle(50)

### Idiomatic Python
- Transformation code into Beautiful,idiomatic python
- Replace Traditional index manipulation with python code looping idioms

In [1]:
# Looping over a range of number
for i in[0,1,2,3,4,5]:
    print(i ** 2,end=' ')
print()
# Pythonic-way
for i in range(6):
    print(i ** 2,end=' ')

0 1 4 9 16 25
0 1 4 9 16 25

In [2]:
# Looping over the coolection(List)
li = [1,2,3,4,5]
for i in range (len(li)):
    print(li[i],end=' ')
print()
# Pythinic way
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [3]:
# Lopping from bckward
li = [1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
#Pythonic-way
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [4]:
# Looping over the collection with index
li = [1,2,3,4,5]
for i in range (len(li)):
    print(i,'-->',li[i])
print()
# Pythonic-way
for i,a in enumerate(li):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [5]:
# Looping over two collections
li = [1,2,3,4,5]
a = [1,2,3,4,5,6,8]
n = min(len(li),len(a))
for i in range (n):
    print(li[i],' ',a[i])
print()
# Pythonic-way
for i,a in zip (li,a):
    print(i,' ',a)

1   1
2   2
3   3
4   4
5   5

1   1
2   2
3   3
4   4
5   5

In [6]:
# Looping in sorted order
# Pythonic-way
li = [12,5,23,6,1,9]
for i in sorted(li):
    print(i,end=' ')
print()
for i in sorted(li,reverse=True):
    print(i,end=' ')

1 5 6 9 12 23
23 12 9 6 5 1

In [7]:
# Dictionary
d = {'Name':'Sankar','EmailID':'bhavanisankar@gmail.com','Address':'Vizag'}
for k in d:
    print(k,end=' ')
print()

Name EmailID Address

In [8]:
for k in d.keys():
    if k.startswith('g'):
        del d[k]

In [9]:
print(d)

{'Name': 'Sankar', 'EmailID': 'bhavanisankar@gmail.com', 'Address': 'Vizag'}

In [10]:
for k in d.values():
    print(k,end=' ')

Sankar bhavanisankar@gmail.com Vizag

### List Comprehensions

In [11]:
# Traditional Apporach
li = []
for i in range(10):
    a = i ** 2
    li.append(a)
    
print(sum(li))
print()
# pythonic-way
print(sum(i**2 for i in range(10)))

285

285

In [12]:
li = []
for i in range(10):
    li.append(i ** 2)
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
com_list = [i ** 2 for i in range(10)]
com_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
for i in li:
    if i % 2 ==0:
        print(i,end=' ')

0 4 16 36 64

In [15]:
com_list = [i ** 2 for i in range(10) if i % 2 == 0]
com_list

[0, 4, 16, 36, 64]

### Lambda Functions
- Anonymous function means that a function is without a name
- Any lambda function on python will be defined with lambda
- Syntax lambda arg:expression

In [16]:
def square(n):
    return n*n
square(10)

100

In [17]:
a = lambda x: x * x
print(a(10))

100

In [18]:
def filterList(li):
    a = []
    for i in li:
        if i  % 2 == 0:
            a.append(i)
    return a
li = [1,2,3,4,5,6,7,8]
filterList(li)

[2, 4, 6, 8]

In [19]:
li = [1,2,3,4,5,6,7,8]
lam_li = list(filter(lambda x : (x%2 == 0),li))
print(lam_li)

[2, 4, 6, 8]

### Lambda with map()
- map() function in python takes in a function and list as argument.

In [20]:
# Functional apporach
def squareList(li):
    a = []
    for i in li:
        a.append(i*2)
    return a
li = [1,2,3,4,5,6,7,8]
squareList(li)

[2, 4, 6, 8, 10, 12, 14, 16]

In [21]:
# Lambda with map()
li = [1,2,3,4,5,6,7,8]
map_list = list(map(lambda x : x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

### Lambda with reduce()

In [22]:
# Functional Apporach
def sumList(li):
    s = 0
    for i in li:
        s += i
    return s
li = [1,2,3,4,5,6,7,8]
sumList(li)

36

In [23]:
# Lambda with Reduce
from functools import reduce
li = [1,2,3,4,5,6,7,8]
s = reduce((lambda x,y:x+y),li)
print(s)

36

### Standard Package
### Pandas,Numpy,Matplotlib

### Pandas

### Use cases
- Data cleaning
- Data Transformation
- Data Analysis
### Notations
- Series
       - a series is a one-dimensional objects that 
- DataFrames
        - a dataframe is a two dimensional

In [24]:
import pandas as pd
internal1 = {'s1':32,'s2':45,'s3':37}
internal2 = {'s1':45,'s2':35,'s3':25}
internal1 = pd.Series(internal1)
internal2 = pd.Series(internal2)
print(internal1)
print(internal2)

s1    32
s2    45
s3    37
dtype: int64
s1    45
s2    35
s3    25
dtype: int64

In [25]:
final = {'Internal1':internal1,'Internal2':internal2}
final = pd.DataFrame(final)
print(final)

    Internal1  Internal2
s1         32         45
s2         45         35
s3         37         25

In [35]:
final.columns

Index(['Internal1', 'Internal2'], dtype='object')

In [32]:
final.values[1]

array([45, 35], dtype=int64)

In [34]:
final.values

array([[32, 45],
       [45, 35],
       [37, 25]], dtype=int64)

In [52]:
final.values[2][0]

350

In [53]:
for row in final.values:
    print('internal1 - ',row[0],'internal2',row[1])

internal1 -  32 internal2 45
internal1 -  45 internal2 35
internal1 -  350 internal2 350

In [54]:
final.loc['s4']= [20,18]
final

    Internal1  Internal2
s1         32         45
s2         45         35
s3        350        350
s4         20         18

In [56]:
final.values[2]=[23,56]
final

    Internal1  Internal2
s1         32         45
s2         45         35
s3         23         56
s4         20         18